.intro-img {
    background-image: url(back.jpg);
}

.centered {
    padding-top: 13%;
    color: aliceblue;
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0px;
    text-align: center;


}

.para1 {
    padding-top: 1%;
    color: aliceblue;
    text-align: center;
    align-items: center;
    padding-bottom: 16%;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;


}

.headdings {


    color: aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.895);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 2px;
    border-radius: 5px 20px 20px 55px;

}

.para2 {
    padding-top: 2%;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 23px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    
}
.bold{
    font-size: 26px;
    font-weight: 700;
}
.feature-img {
    height: 50%;
    width: 50%;
    margin-bottom: 5%;
}
.col-sm-4:hover{
    transform: scale(1.2);
    transition: 0.3s;
     
}
.container{
    margin-top: 5%;
    margin-bottom: 5%;
}
h3{
    font-size: 33px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;

}
.lead {
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}
.d-block {
    
    height: auto;
    width: 90%;
    padding-left: 15%;
    padding-right: 55%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.d-block1{
    height: auto;
    width: 90%;
    padding-left: 55%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.carousel-item{
    margin-left: 30px;
    margin-top: 10%;
    height: auto;
    width: 100%;

    /* background: linear-gradient(#e66465, #9198e5); */

   
    
}
.carousel {
    margin-right: 30px;}

.carousel-caption{
    text-align: right;
    
}

.carousel-control-next-icon{
   
    color: #060808;
    background-color: #060808;
}
.carousel-control-prev-icon{
    color: #060808;
    background-color: #060808;
}

/* <!-- font-family: Montserrat;
font-size: 60px;
font-weight: 700;
line-height: 90px;
letter-spacing: 0px;
text-align: center;


----- Inner font-------
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0px;
text-align: center;--> */
.team{

    background: #fdfcb34e;

    

}

.cont{

  background: #d85050;

}
.our-team{

    border-radius: 15px;

    text-align: center;

    padding: 2px 1px 0px;

    background: rgba(145, 217, 248, 0.676);

}

.our-team .pic{

    background:rgb(246, 180, 180);

    padding: 10px;

    margin-bottom: 25px;

    display: inline-block;

    width: 100%;

    height: 100%;

    transition: all 0.5s ease 0s;

}

.our-team:hover .pic{

  background: #000000;

    border-radius: 50%;

}

.pic img{

    width: 100%;

    height: auto;

    border-radius: 50%;

}

.our-team .title{

    font-weight: 600;

    color: #080808;

    text-transform: uppercase;

    display: block;

    font-size: 20px;

    margin: 0 0 7px 0;

}

.our-team .post{

    color:#060808;

    text-transform: capitalize;

    display: block;

    font-size: 15px;

    margin-bottom: 15px;

}
.our-team .social{

    padding: 0;

    margin: 0;

    list-style: none;

}

.our-team .social li{

    display: inline-block;

    margin-right: 5px;

}

.our-team .social li a{

    border-radius: 50%;

    font-size: 15px;

    color: #17bebb;

    border: 1px solid #17bebb;

    display: block;

    width: 30px;

    height: 30px;

    line-height: 30px;

    transition: all 0.5s ease 0s;

}

.our-team:hover .social li a{

    background: #17bebb;

    color: #fff;

}
.our-team:hover .pic{

    background: #17bebb;

    border-radius: 50%;

}

.our-team:hover .social li a{

    background: #17bebb;

    color: #fff;

}
.carousel-inner{
    margin-bottom: 3px;
    margin-top: 1px;
    
}
.para3 {
    padding-top: 2%;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 23px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}
.para4 {
    padding-top: 2%;
    text-align: center;
    padding-left: 12%;
    padding-right: 12%;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}

  
  /* Clear floats after image containers */
 
  .bold1{
    font-size: 29px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 2px;
  }
  body{
    background-color: rgb(207, 222, 235);
  }
 
